* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: gray;
}

body {
    font-family: 'Open Sans';
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

.page {
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    display: 'flex';
    font-family: 'Playfair Display';
    font-weight: 500
}

h2 {
    display: 'flex';
    font-family: 'Playfair Display';
    font-weight: 300
}

.spacer {
    height: 135px;
}

@media screen and (max-width: 1400px) {

}

@media (max-width: 1200px) {
    .page {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 999px) {
    .spacer {
        height: 0;
    }
    .page {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 767px) {
    .page {
        padding-left: 5%;
        padding-right: 5%;
    }
}