* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

.page {
    padding-left: 20%;
    padding-right: 20%;
}